---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---
<h2>Wang Xingqi</h2>
 <p style='font-weight:bold;'>PhD student</p>
  <p>I am interested in.</p>     

<h2>Jin Zhe</h2>
 <p style='font-weight:bold;'>PhD student</p>
  <p>I am interested in.</p>  

<h2>Sheng Shuxuan</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
    <div class='people-image-container'>
 <p>I am interested in.</p>  

  <h2>Wang Kang</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p>  
    
   <h2>Xu Yanjie</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p>       
   
    <h2>Jia Yifei</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p>  
          
    <h2>Zheng Xiaoni</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p> 
          
      <h2>BOB</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p> 
          
     <h2>Lan Tianran</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p> 
          
      <h2>Gao Jiulong</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p>
      
      <h2>Ye Xuetong</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p>     
    
   <h2>Sun Haibin</h2>
    <p style='font-weight:bold;'>Postgraduate student</p>
   <p>I am interested in.</p> 
          
   
{% include base_path %}

{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %}
