---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---
<h2>Wang Xingqi</h2>
   <img  src="Gaojiulong.jpg" width="258" height="39" />
   <p style='font-weight:bold;'>Postdoctoral researcher</p>
    <div class='people-image-container'>
  <div class='people-description'>
      <p>I am interested in how people learn complex causal relationships,ice cream.</p>     
<h2>Sheng Shuxuan</h2>
    <p style='font-weight:bold;'>Graduate student</p>
    <div class='people-image-container'>
 <p>I am interested in how people learn complex causal relationships,ice cream.</p>  
    <h2>Sheng Shuxuan</h2>
    <p style='font-weight:bold;'>Graduate student</p>
    <div class='people-image-container'>
 <p>I am interested in how people learn complex causal relationships,ice cream.</p>   

{% include base_path %}

{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %}
